
div {
    width: 400px;
    height: 200px;
    border: 4px dashed red;
    margin:  20px auto;
    box-sizing: border-box;

}

.a{
    background-image: url("../img/op1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    border: 4px outset darkgoldenrod;
    box-sizing: border-box;
}

[src]{
    border: 10px groove black;
}
[contenteditable]{
    width: 500px;
    height: 300px;
    border: 4px dashed blue;
    }
a:link{
    color: red;
}
a:visited{
    color: yellow;
}
a:hover{
    color: black;
}
a:active{
    color: springgreen;
}