div {
    width: 700px;
    height: 700px;
    border: 10px double chocolate;
    border-radius: 100%;
    background-image: url("../img/op1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img{
      border: 2px ridge #fffc60;

    border-radius: 50%;

}
